<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="SchoolERP" 
       connectionString="Server=localhost\SQLEXPRESS;Database=SchoolERP;Integrated Security=True;" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>
  <appSettings>
    <add key="FingerprintDevice:UseMock" value="true"/>
    <add key="FingerprintDevice:IP" value="192.168.1.201"/>
    <add key="FingerprintDevice:Port" value="4370"/>
  </appSettings>
</configuration>


